@import url('https://rsms.me/inter/inter.css');

* { font-family: "Inter", "Inter UI", "Helvetica Neue", sans-serif; }
.amount { text-align: right; }
.credit-bank .amount { font-weight: bold; }
.amount.positive {
    font-weight: bold;
    background-color: lightgreen;
}
.amount.negative {
    font-weight: bold;
    background-color: lightcoral;
}
.date { white-space: nowrap; }
body {
    margin: 30px;
    margin-left: 60px;
}
.details { width: 640px; }

.list img {
    float: left;
}

.list li {
    clear: both;
}

a {
    color: #555;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #555;
}

nav {
    margin-bottom: 40px;
}

nav span {
    margin-right: 20px;
}

#logo img {
    width: 48px;
    display: inline-block;
    position: relative;
    top: 19px;
    margin-left: -4px;
}

tr {
    vertical-align: top;
}

tr:nth-child(even) {
}

td, th {
    min-width: 100px;
    text-align: left;
}

table {
    border-collapse: collapse;
}

.form-group {
    margin-bottom: 1em;
}

.form-group input, .form-group select {
    width: 300px;
    font-size: 1.2rem;
}

label {
    display: block;
    margin-top: 1em;
}

.autocomplete-suggestions {
    width: 800px !important;
    
    /*left: 20% !important;*/
}

.autocomplete-suggestion {
    white-space: normal !important;
    padding: 0.3em 0.6em !important;
}

.autocomplete-suggestion > span.sm {
    width: 120px;
    display: inline-block;
}

.autocomplete-suggestion > span.smr {
    width: 120px;
    display: inline-block;
    text-align: right;
}

.autocomplete-suggestion img {
    width: 128px;
}

.board td, .board th {   
    padding-right: 2rem;
}

.board ul {
    margin: 0;
    padding: 0;
}

.board li {
    width: 300px;
    max-width: 300px;
    overflow-wrap: break-word;
    cursor: pointer;

    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
    list-style: none;

    background-color: white;
    
    border: 1px solid transparent;
    /*border-radius: 5px;
    box-shadow: 0px 0px 1px #999;*/

    padding: 5px;
}

.board .sortable-ghost {
    opacity: 0.25;
}

.sortable-drag {
    border: 1px solid black !important;
}

.board .drag-container {
    padding-bottom: 100px;
}

.board a {
    cursor: pointer;
}

.board input {
    width: 250px;
}

.board textarea {
    width: 250px;
    height: 50px;
}
